body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./img/desert.png');
    background-position: top;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    background-size: cover;
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    font-size: 32px;
    background-color: #f6ad4e;
}

@font-face {
    font-family: 'zabars';
    src: URL('./fonts/zabars.ttf') format('truetype');
}

/* albert-sans-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Albert Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/albert-sans-v1-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* albert-sans-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Albert Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/albert-sans-v1-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

#content-wrapper {
    position: relative !important;
    height: 480px;
    width: 720px;
    max-width: 1920px;
}

a {
    text-decoration: none !important;
    color: inherit;
}

.d-none {
    display: none !important;
}

.opacity {
    opacity: 0 !important;
}

/* mute and home btn overlay*/
.btn-overlay {
    display: flex;
}

#mute-btn {
    height: 35px;
    width: 35px;
    margin-right: 5px;
    cursor: pointer;
}

#home-btn {
    height: 35px;
    width: 35px;
    cursor: pointer;
}

/* Start Screen CSS*/
.start-screen {
    width: 100%;
    height: 100%;
    background-image: url('img/9_intro_outro_screens/start/startscreen_1.png');
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 30;
    pointer-events: auto;
}

.impressum,
.instructions {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    color: #641e0b;
}

.impressum:hover, .instructions:hover{
    color: black;
}

.space-between {
    padding: 20px;
}

#start-btn {
    position: absolute;
    top: 50px; 
    left: 50%;
    padding: 10px 20px;
    font-size: 24px;
    color: white;
    background-color: #ff5722;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: pulse 1.5s infinite;
    font-family: 'Albert Sans';
}

@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }

    50% {
        transform: translate(-50%, -50%) scale(1.1);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

/* Navigation Bar CSS */
.navigation-bar {
    display: flex;
    position: absolute;
    bottom: 0;
    z-index: 2;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}

.nav-controls img {
    width: 55px;
    margin-right: 16px;
}

.nav-arrows img {
    width: 55px;
    margin-left: 16px;
}

/* canvas CSS*/
canvas {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    z-index: 1;
    position: relative;
}

h1 {
    margin-top: 60px;
    font-size: 72px;
    letter-spacing: 3px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    color: #92290c;
}


/*Impressum/Instructions css*/
.headline-imp-instr-wrapper {
    margin-top: 60px;
    font-size: 72px;
    letter-spacing: 3px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    color: #92290c;
    margin-bottom: 10px;
}

.impressum-wrapper,
.instructions-wrapper {
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    height: 100vh;
}

span {
    font-size: 32px;
    letter-spacing: 1px;
}

h3 {
    color: #92290c;
}

h4 {
    color: #92290c;
    font-size: 32px;
}

/*rotate warning css*/
.rotate-warning {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    flex-direction: column;
    transition: opacity 0.5s ease;
    pointer-events: none;
    opacity: 0;
}

.rotate-warning::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px; 
    height: 150px;
    background-image: url(./img/rotate-device-icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%) scale(1); 
    animation: pulse-twist 1.5s infinite; 

}

@keyframes pulse-twist {
    0% {
        transform: translate(-50%, -50%) scale(1) rotate(0deg); 
    }
    50% {
        transform: translate(-50%, -50%) scale(1.1) rotate(-10deg); 
    }
    100% {
        transform: translate(-50%, -50%) scale(1) rotate(0deg); 
    }
}

/* gameOver Menu*/
#gameOverMenu {
    background-image: url('img/9_intro_outro_screens/game_over/oh no you lost!.png');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 25;
}

#gameOverMenu button {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f6ad4e;
    padding: 10px;
    border-radius: 10px;
    border-color: #f6ad4e;
    color: white;
    cursor: pointer;
    z-index: 2;
}

#gameOverMenu button:hover {
    background-color: #ff5722;
}

/* win screen*/
#win-screen {
    background-image: url('img/9_intro_outro_screens/win/win_2.png');
    background-position: top;
    background-size: 50%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 25;
}

#win-screen button {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f6ad4e;
    padding: 10px;
    border-radius: 10px;
    border-color: #f6ad4e;
    color: white;
    cursor: pointer;
    z-index: 2;
}

#win-screen button:hover {
    background-color: #ff5722;
}

/* Media Querry*/
@media (max-width: 1400px ) {
    .opacity {
        opacity: 100 !important;
    }
}

@media only screen and (max-width: 719px) {

    canvas {
        width: 100%;
        border-radius: 0%;
    }

    #content-wrapper {
        width: 100%;
        height: auto;
    }

    .start-screen {
        width: 100%;
        height: 100vh;
    }

    .navigation-bar {
        width: 100%;
        opacity: 100;
    }

    .instructions, .space-between {
        display: none;
    }
}

@media (max-width: 650px) {
    canvas {
        display: none;
    }
}

@media (max-width:466px) {
    #start-btn {
        left:50px;
    }
}

@media only screen and (max-height: 600px) {
    canvas {
        height: 100%;
        width: 100%;
    }

    h1 {
        display: none;
    }

    .start-screen {
        width: 100%;
        height: 100vh;
    }

    footer {
        position: absolute;
        bottom: 0px;
    }

    .navigation-bar {
        bottom: 0;
        opacity: 100;
    }

    #content-wrapper {
        height: 100vh;
        width: 100%;
    }

}